faiss_cpu==1.9.0.post1
fastapi~=0.133.1
numpy~=2.2.6
pydantic~=2.12.5
sentence_transformers==3.3.1
starlette~=0.52.1
torch~=2.10.0
transformers~=4.57.6
uvicorn==0.34.0
vllm~=0.18.0

pillow~=11.2.1
requests~=2.32.3
streamlit~=1.55.0